/* Mengimpor font Poppins dari Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Pengaturan default untuk seluruh elemen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-dark: #121212;
    --main-blue: #007bff;
    --main-grey-light: #9f9f9f;
    --main-blue-dark: #0067f4;
    --main-grey: #6c6c6c;
    --main-red: #dc3545;
    --main-light-grey: #f4f6f7;
    --main-dark-blue: #2b354f;
    --main-cyan: #17a2b8;
    --main-white: #ffffff;
    --main-light-blue: #3a6fb0;
    --main-black: #000000;
    --main-green: #28a745;
    --bg-transparent: rgba(0, 0, 0, 0);
}

/* card content */
.custom-card {
    border: none;
    border-radius: 15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 300px;
    max-width: 350px;
    overflow: hidden;
}

.custom-card:hover {
    transform: translateY(-2px);
}

.product-image {
    width: auto;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.judul {
    font-weight: 600;
    color: var(--main-black);
    margin-top: 12px;
}

.product-code {
    font-weight: 600;
    font-size: 14px;
    color: var(--main-black);
}

.product-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--main-black);
}

.product-price {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-black);
}

.product-category {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-black);
}

/* Tombol Tambahkan produk */
.add-button {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: var(--main-blue) !important;
    color: var(--main-white) !important;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.add-button:active {
    background-color: var(--main-blue-dark) !important;
    color: var(--main-white) !important;
}

/* end */

/* cart */
.cart-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    color: var(--main-black);
    height: auto;
    width: 100%;
}

.checkout-btn {
    background-color: var(--main-blue) !important;
    border: none !important;
    color: white !important;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none !important;
}

.trash-btn {
    background-color: var(--main-red);
    border: none;
    color: white !important;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}

.trash-btn:active {
    box-shadow: none;
    outline: none;
}

.order-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    font-size: 12px;
    color: var(--main-black);
}

.order-item:last-child {
    border-bottom: none;
}

.order-item-details {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.total {
    font-size: 14px;
}

.total-price {
    font-weight: 600;
}

.total-items {
    font-weight: 600;
}

.order-item-name {
    font-size: 14px;
}

.order-item-total {
    color: var(--main-black);
    font-size: 14px;
}

.order-item-price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-bottom: auto;
    font-weight: 600;
}

.order-item-brand {
    font-size: 14px;
    color: var(--main-black);
    font-weight: 600;
}

/* end */

@media (max-width: 768px) {
    .cart-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: white;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        padding: 15px;
        z-index: 10;
        overflow-y: hidden;
    }

    .product-image {
        width: auto;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media (max-width: 480px) {
    .product-image {
        width: auto;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
}