:root {
    --main-dark: #121212;
    --main-blue: #007bff;
    --main-grey-light: #9f9f9f;
    --main-blue-dark: #0067f4;
    --main-grey: #6c6c6c;
    --main-red: #dc3545;
    --main-light-grey: #f4f6f7;
    --main-dark-blue: #2b354f;
    --main-cyan: #17a2b8;
    --main-white: #ffffff;
    --main-light-blue: #3a6fb0;
    --main-black: #000000;
    --main-green: #28a745;
    --bg-transparent: rgba(0, 0, 0, 0);
}

.title-header {
    color: var(--main-blue);
    position: relative;
    z-index: 10;
}
.cart-summary {
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cart-item {
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cart-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.cart-item img {
    border-radius: 8px;
  }

  .cart-summary h5 {
    margin-bottom: 15px;
  }

  .cart-item-quantity input {
    max-width: 50px;
  }

  .list-unstyled li {
    font-size: 13px;
    margin-left: 2px;
    margin-top: 5px;
    color: var(--main-grey) !important;
  }
  .form-check-input{
    border-color: var(--main-grey);
  }

  .shipping:hover {
    background-color: var(--main-light-grey);
    color: var(--main-dark-blue);
}
/* Adjustments for mobile view */
@media (max-width: 576px) {
  .cart-item {
      flex-direction: column;
      align-items: center; /* Center align the items horizontally */
      padding: 10px;
  }

  .cart-item-image {
      margin-bottom: 10px;
  }

  .cart-item-details {
      margin-left: 0;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center content vertically */
      align-items: center; /* Center content horizontally */
      width: 100%; /* Ensure full width */
      margin: 0 auto; /* Center the entire content */
      margin-left: -2%; /* Slightly shift to the left */
  }

  /* Position the checkbox and trash button at the top and align them to opposite sides */
  .cart-item .item-select {
      position: absolute;
      top: 10px;
      left: 10px;
  }

  .cart-item .remove-item {
    font-size: 1.3rem;
      position: absolute;
      top: 10px;
      right: 10px;
  }

  /* Adjusting other elements for mobile */
  .cart-item img {
      width: 80px;
      height: 80px;
  }

  .cart-item-details h6 {
      font-size: 14px;
  }

  .btn {
      font-size: 14px;
  }

  .cart-summary h5 {
      font-size: 1.2rem;
  }

  .item-select {
      margin-top: 10px;
  }
}
