@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

:root {
    --main-dark: #121212;
    --main-blue: #007bff;
    --main-grey-light: #9f9f9f;
    --main-blue-dark: #0067f4;
    --main-grey: #6c6c6c;
    --main-red: #dc3545;
    --main-light-grey: #f4f6f7;
    --main-dark-blue: #2b354f;
    --main-cyan: #17a2b8;
    --main-white: #ffffff;
    --main-light-blue: #3a6fb0;
    --main-black: #000000;
    --main-green: #28a745;
    --bg-transparent: rgba(0, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: var(--main-light-blue);
    justify-content: center;
    align-items: center;
}

/* Login form styling */
.login_form {
    width: 100%;
    max-width: 435px;
    background: var(--main-white);
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.login_form h3 {
    font-size: 20px;
    text-align: center;
    color: var(--main-dark-blue);
}

.login_form p {
    text-align: center;
    font-weight: 500;
    color: var(--main-grey);
}

.login_form .separator {
    position: relative;
    margin-bottom: 24px;
}

form .input_box label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--main-dark-blue);
}

/* Input field styling */
form .input_box input {
    width: 100%;
    height: 57px;
    border: 1px solid var(--main-grey-light);
    border-radius: 5px;
    outline: none;
    background: var(--main-light-grey);
    font-size: 17px;
    padding: 0px 20px;
    margin-bottom: 25px;
    transition: 0.2s ease;
}

form .input_box input:focus {
    border-color: var(--main-light-blue);
}

form .input_box .password_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--main-dark);
}

form .input_box {
    position: relative;
}

a {
    text-decoration: none;
    color: var(--main-light-blue);
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

/* Login button styling */
form button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: var(--main-light-blue);
    color: var(--main-white);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;
}

form button:active {
    transform: translateY(2px);
    background: var(--main-blue-dark);
}
